* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    text-align: center;
}

.awesome-container {
    margin: auto;
    margin-top: 100px;
}

.awesome-title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 25px;
}

.awesome-line {
    margin: auto;
    width: 64px;
    border-top: 1px solid #D98943;
    margin-bottom: 30px;
}

.awesome-descr {
    font-size: 14px;
    color: #86878B;
    margin-bottom: 67px;
}

.awesome-row {
    display: flex;
    justify-content: space-between;
}

.awesome-row__circle {
    margin: auto;
    width: 70px;
    height: 70px;
    border: 1px solid #D98943;
    border-radius: 50%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome-row__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px
}

.awesome-row__text {
    font-size: 14px;
    max-width: 350px;
}