.awesome {
    margin: auto;
    padding-top: 100px;
    padding-bottom: 109px;
}

.awesome-title {
    font-family: 'Raleway', sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.awesome-title::after {
    content: "";
    display: block;
    margin: auto;
    width: 64px;
    border-top: 1px solid #D98943;
    margin-top: 25px;
    margin-bottom: 30px;
}

.awesome-descr {
    margin: auto;
    max-width: 363px;
    font-size: 0.875rem;
    color: #86878B;
    margin-bottom: 67px;
}

.awesome-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.awesome-row__item {
    max-width: 350px;
    margin: 0 15px;
}

.awesome-row__img {
    margin: auto;
    width: 70px;
    height: 70px;
    border: 1px solid #D98943;
    border-radius: 50%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome-row__img>i {
    font-size: 1.875rem;
    color: #D98943
}

.awesome-row__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px
}

.awesome-row__text {
    font-size: 0.875rem;
}