.header {
    background: rgba(0, 0, 0, 1);
    padding-top: 20px;
    padding-bottom: 19px;
}

.header>.container {
    display: flex;
    justify-content: space-between;
}

.header-logo-link {
    color: white;
}

.header-logo-text {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 31px;
}

.header-logo-text::after {
    content: "IT";
    color: #EC7979;
}

.header-nav-row {
    display: flex;
    justify-content: space-between;
    width: 489px;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.header-nav-row__item {
    line-height: 31px;
}

.header-nav-row__item-link {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s;
}

.header-nav-row__item-link:hover {
    cursor: pointer;
    border: 3px solid #EC7979;
    border-top: 0;
    border-right: 0;
}

.header-humburger-menu{
    display:none;
}