.price {
    margin: auto;
    background: #E5E5E5;
    padding-top: 80px;
    padding-bottom: 80px;
}

.price-title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 34px;
    text-transform: uppercase;
}

.price-line {
    margin: auto;
    width: 64px;
    border-top: 1px solid #D98943;
    margin-bottom: 34px;
}

.price-descr {
    margin: auto;
    max-width: 363px;
    font-size: 14px;
    color: #86878B;
    margin-bottom: 63px;
}

.price-row {
    display: flex;
    justify-content: space-between;
}

.price-row__item {
    max-width: 340px;
    width: 100%;
}

.price-about-row__item {
    background: #FFFFFF;
    height: 40px;
    font-size: 14px;
    line-height: 19px;
    color: #86878B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

.price-about-row__item_1,
.price-about-row__item_2,
.price-about-row__item_3 {
    margin: 0;
    background: #333333;
    color: white;
    margin-bottom: 2px;
}

.price-about-row__item_1 {
    height: 50px;
    font-weight: 700;
    font-size: 20px;
}

.price-about-row__item_2 {
    height: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.price-about-row__item_3 {
    height: 50px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
}

.price-about-row__item_3:hover {
    background: #D98943;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 800;
}